XMLSchemas/Article.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified"
    vc:minVersion="1.0" vc:maxVersion="1.1"
    targetNamespace="https://github.com/XML-tim17/ScientificArticles"
    xmlns="https://github.com/XML-tim17/ScientificArticles">
    <xs:include schemaLocation="Utility.xsd"/>
    <xs:complexType name="TArticle">
        <xs:sequence>
            <xs:element default="-1" name="id" type="xs:anyURI"/>
            <xs:element name="title">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:anyAttribute processContents="lax"
                                namespace="##local"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="info">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="authors"/>
                        <xs:element name="received">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:date"> </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="revised">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:date">
                                        <xs:anyAttribute processContents="lax"
                                            namespace="##local"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="accepted">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:date">
                                        <xs:anyAttribute processContents="lax"
                                            namespace="##local"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="status">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="TStatus">
                                        <xs:anyAttribute processContents="lax"
                                            namespace="##local"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element default="1.0" name="version">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:anyAttribute processContents="lax"
                                            namespace="##local"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element ref="abstract"/>
            <xs:element ref="content"/>
            <xs:element ref="references"/>
        </xs:sequence>
        <xs:anyAttribute processContents="lax" namespace="##local"/>
    </xs:complexType>
    <xs:element name="article" type="TArticle"> </xs:element>
    <xs:element name="author">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="TAuthor">
                    <xs:anyAttribute processContents="lax" namespace="##local"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="abstract">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="paragraph" type="TParagraph"/>
                <xs:element name="keywords">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="keyword" maxOccurs="unbounded" minOccurs="1">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:anyAttribute processContents="lax"
                                                namespace="##local"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute ref="id"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="content">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="section"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="references">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="reference">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="referencedAuthors"/>
                            <xs:element name="publication-date" type="xs:date"/>
                            <xs:element name="title" type="xs:string"/>
                            <xs:element name="publisher">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="institution" type="xs:string"/>
                                        <xs:element name="city" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="section">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string"/>
                <xs:choice maxOccurs="unbounded">
                    <xs:element name="paragraph" type="TParagraph"/>
                    <xs:element name="figure">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="image" type="xs:base64Binary"/>
                            </xs:sequence>
                            <xs:attribute ref="id"/>
                            <xs:attribute name="title"/>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="table">
                        <xs:complexType>
                            <xs:sequence maxOccurs="unbounded" minOccurs="1">
                                <xs:element name="tr">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element maxOccurs="unbounded" minOccurs="1"
                                                name="td"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                            <xs:attribute ref="id"/>
                        </xs:complexType>
                    </xs:element>
                    <xs:element ref="section"/>
                </xs:choice>
            </xs:sequence>
            <xs:attribute use="required" ref="id"/>
            <xs:attribute name="level">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="authors">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="corresponding-author">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="TAuthor">
                                <xs:anyAttribute processContents="lax"
                                    namespace="##local"/>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="author"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="TStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="toBeReviewed"/>
            <xs:enumeration value="inReviewProcess"/>
            <xs:enumeration value="reviewed"/>
            <xs:enumeration value="accepted"/>
            <xs:enumeration value="rejected"/>
            <xs:enumeration value="revisionRequired"/>
            <xs:enumeration value="revisionRecieved"/>
            <xs:enumeration value="outdated"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="referencedAuthor">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="TPerson"> </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="referencedAuthors">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="referencedAuthor"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
